@import "tailwindcss";

@import "./../styles/_variables.css";
@import "./../styles/_keyframe-animations.css";

@font-face {
  font-family: "CretoDispay";
  src: url("@/../../../public/Fonts/CreatoDisplay-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AWAKENNING";
  src: url("@/../../../public/Fonts/AWAKENNING.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-dark: #9a080f;
  --color-primary: #b41219;
  --color-primary-light: #f02e37;
  --color-black: #111111;
  --color-grey: #c4c4c4;

  --color-color-text-primary: #fff;

  --text-h1: 68px;
  --text-h2: 56px;
  --text-h3: 48px;
  --text-h4: 36px;
  --text-h5: 22px;

  --text-normal1: 20px;
  --text-normal2: 18px;
  --text-normal3: 16px;
  --text-normal4: 14px;
  --text-normal5: 12px;

  --leading-lh24: 24px;

  --font-normal: 400;
  --font-bold: 700;
  --font-extra-bold: 800;

  --font-*: initial;
  --default-font-family: "CretoDispay";

  --font-creto: "CretoDispay";
  --font-awakening: "AWAKENNING";
  --leading-normal: 1.2;
}

@layer base {
  body {
    line-height: 1.3;
    font-weight: 500;
    overflow-y: auto !important;
  }
}
